/* Slides - Carousel for Industry Information Section */
.carousel.slide {width:98%; margin:20px auto; border:10px solid #CCCCCC; float:left;}
#myCarousel .sliders {border-radius: 10px; box-shadow: 0px 0px 10px 3px #ccc; margin: 10px 5px; float:left; color: #5270FF; background:#fff; width:13.5%; max-width:142px; height:100%; max-height:280px; font-family:'Open Sans', sans-serif; font-size:14px; clear:none !important; position:relative; /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);*/} 
#myCarousel .sliders p,#myCarousel .sliders a { color:#5270FF !important;text-align:center !important; text-decoration:none; font-size:9px; line-height: 1.2em; font-weight:bold;padding:0;margin-bottom:0px;margin-top:0;}
#myCarousel .sliders ul.disc {float:left; color:#000;}
#myCarousel .sliders ul.disc li {float:left;}
#myCarousel .button a {padding-top:5px;padding-bottom:5px; display: block; color: #fff!important; text-align: center; text-decoration: none; font-size: 12px; background: #5270FF; width: 90%; margin:10px auto;}
#myCarousel .button a:hover {color: #E9EBEE!important; background-color:#4267b2;} 
#myCarousel #title {font-size:18px;color:#4267b2;font-weight:bold;float:left;margin-left:20px;margin-top:20px;width:100%;}
#myCarousel .title-icon{ padding-right:10px;margin-top:-5px;float:left;}
#myCarousel .sliders img {max-width:100%;}

@media only screen and (max-width: 1916px) {
#myCarousel .sliders {margin: 10px 5px; min-width:161px;}	
}

@media only screen and (max-width: 1874px) {
#myCarousel .sliders {width:200px; min-width:inherit; max-width:inherit;}
#myCarousel.carousel.slide {width:100%; border: none; max-width:840px; float:none; margin:0 auto;}
}

@media only screen and (max-width: 1170px) {
#myCarousel.carousel.slide {max-width:500px; float:none; margin:0 auto;}
#myCarousel.carousel.slide .sliders{width:150px;}
}

@media only screen and (max-width: 660px) {
#myCarousel.carousel.slide {display:none;}	
	
}