<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    
    <add key="Api" value="http://216.250.147.171/IQSCore/" />
    <add key="WebURL" value="http://dev.iqsdirectory.com/" />
<!--
    <add key="Api" value="http://localhost/IQSCore/" />
    <add key="WebURL" value="http://localhost/IQSDirectory/" />
    -->
    <add key="NewsDirectory" value="https://news.iqsdirectory.com/" />
    <add key="BlogDirectory" value="https://blog.iqsdirectory.com/" />
    <add key="ActiveLogger" value="LogDebug" />
    <add key="DirectoryRFQPath" value="" />
    <add key="MetaRobots" value="noindex,nofollow" />
    
    <!--Keys required for RFQ Screen-->
    <add key="RFQTestMode" value="true" />
    <add key="RFQFromMailID" value="jpratt@industrialquicksearch.com" />
    <add key="RFQCCMailID" value="rfq@industrialquicksearch.com" />
    <add key="RFQAlternateMailID" value="" />
    <add key="RFQSubject" value="Request for Quote from IQS" />
    <add key="AttachmentDetail" value="The sender would like to send you a file" />

    
    <add key="ReviewTestMode" value="true" />
    <add key="ReviewUserRegisterMailID" value="admin@industrialquicksearch.com" />
		<add key="ReviewUserRegisterSubject" value="[IQS DIRECTORY] COMPANY PROFILE REVIEW - USER REGISTRATION" />
    <add key="ReviewUserRegisterTo" value="jpratt@industrialquicksearch.com" />
    <add key="ReviewUserRegisterCC" value="" />
    <add key="ReviewUserRegisterBCC" value="" />
    <add key="ReviewEmailNewSubject" value="[IQS DIRECTORY] COMPANY PROFILE - NEW REVIEW POSTED" />
    <add key="ReviewEmailNewReplySubject" value="[IQS DIRECTORY] COMPANY PROFILE - NEW REPLY POSTED" />
    
    <add key="ForgotPasswordSubject" value="[IQS DIRECTORY] PASSWORD RETREIVAL" />
    
    
    <add key="ProfileEmailTestMode" value="true" />    
    <add key="ProfileFromEmailAddress" value="jpratt@industrialquicksearch.com" />
    <add key="ProfileCCEmailAddress" value="copro@industrialquicksearch.com" />
    <add key="IQSEmployeeName" value="Janet Pratt" />
    <add key="ProfileEmailSubject" value="Email from IQS" />
    <add key="ProfileNonExistEmailSubject" value="Emaild does not exist for the company" />
   

    <add key="TestEmailTo" value="linda@insynctechs.com" />
    <add key="TestEmailCC" value="nitha@insynctechs.com,sumi@insynctechs.com" />
    <add key="TestEmailBCC" value="" />
    <add key="TestEmailSubjectPrefix" value="[Test] " />
  
    <add key="MailServerIP" value="localhost" />
    <add key="MailServerUsername" value="" />
    <add key="MailServerpassword" value="" />
    <add key="MailAddressSeparator" value="," />

    <!--Keys required for List Your Company Screen-->
    <add key="ListYourCompanyEmailTestMode" value="true" />  
    <add key="ListYourCompanyPremiumSubject" value="Page1 Premium Listing" />
    <add key="ListYourCompanyStandardSubject" value="Standard Listing" />
    <add key="ListYourCompanyFromMailID" value="jpratt@industrialquicksearch.com" />
    <add key="ListYourCompanyToMailID" value="copro@industrialquicksearch.com" />
    <add key="ListYourCompanyCCMailID" value="" />
    
    <!--Keys required for profile generation-->
    

  </appSettings>
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\DirLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1024kB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <logger name="LogDebug">
      <level value="DEBUG" />
    </logger>
    <logger name="LogFatal">
      <level value="FATAL" />
    </logger>
  </log4net>
  <system.web>
     <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7">
     
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7" requestPathInvalidCharacters="" requestValidationMode="2.0" relaxedUrlToFileSystemMapping="true" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
        <rewrite>
            <rules>
                <rule name="Page2 Redirects" enabled="true" stopProcessing="true">
                    <match url="(.*)([a-zA-Z0-9\-]+)(\/)\2(\-2)(\-[0-9]*)*(\.htm)" />
                    <action type="Redirect" url="{R:2}{R:3}{R:2}{R:4}" appendQueryString="false" />
                </rule>
                <rule name="Directory Search Redirect" stopProcessing="true">
                    <match url="DirectorySearch.aspx" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="^q=(.*)(&amp;s=)(.*)(&amp;st=)(.*)$" />
                    </conditions>
                    <action type="Redirect" url="search/{C:1}/{C:3}/{C:5}/" />
                </rule>
              <rule name="Directory Search Without State Redirect" stopProcessing="true">
                <match url="DirectorySearch.aspx" />
                <conditions>
                  <add input="{QUERY_STRING}" pattern="^q=(.*)(&amp;s=)(.*)$" />
                </conditions>
                <action type="Redirect" url="search/{C:1}/{C:3}/" />
              </rule>
              <rule name="Directory Search Without State and Page Redirect" stopProcessing="true">
                <match url="DirectorySearch.aspx" />
                <conditions>
                  <add input="{QUERY_STRING}" pattern="^q=(.*)$" />
                </conditions>
                <action type="Redirect" url="search/{C:1}/1/" />
              </rule>
                <rule name="DirectoryListCompanies Root Redirect" enabled="true" stopProcessing="true">
                    <match url="^directorylistcompanies\.aspx$" />
                    <action type="Redirect" url="listcompanies/A/1/" />
                </rule>
                <rule name="DirectoryListCompanies General Redirect" enabled="true" stopProcessing="true">
                    <match url="^directorylistcompanies\.aspx$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^letter=([^=&amp;]+)&amp;page=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="listcompanies/{C:1}/{C:2}/" appendQueryString="false" />
                </rule>
              <rule name="Old Copro redirect1" enabled="true" stopProcessing="true">
                <match url="^(copro\/)([0-9]+)(\-)([\w\d\-\+]+)(\/)?$" />
                <action type="Redirect" url="profile/{R:4}{R:3}{R:2}/" appendQueryString="false" />
              </rule>
              <rule name="Old Copro redirect2" enabled="true" stopProcessing="true">
                <match url="^(companyprofile[0-9A-Za-z\+]{1,3}[\/])([0-9]+)(\-)([\w\d\-\+]+)(.aspx)$" />
                <action type="Redirect" url="profile/{R:4}{R:3}{R:2}/" appendQueryString="false" />
              </rule>
            </rules>
            
        </rewrite>
    <!--<staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>-->
    <security>
        <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>