body{
    background-color:#f0efed;    color:#454545;    font-family:Arial,Helvetica,sans-serif;    font-size:12px;    line-height:14px;    font-weight:500;    margin:0;    padding:0;    text-align:left;    width:100%;    overflow-x:hidden;
}
h1{
    color: #374246;    font-family: Arial,Helvetica,sans-serif;    font-size: 22px;    font-weight: bold;    line-height: 30px;
}
h2{
    color: #374246;    font-family: Arial,Helvetica,sans-serif;    font-size: 18px;    font-weight: bold;    margin:25px 0px;    line-height: 24px;
}
.profArticle h2{color:#374246;font-size:20px;font-weight:bold;font-family:Arial,Helvetica,sans-serif; margin:15px 0px; padding:0px; line-height:26px;
}
.profReviewInfo h2{ color:#374246; margin-bottom:3px;
}
h3{
    color: #374246;    font-family: Arial,Helvetica,sans-serif;    font-size: 16px;    font-weight: bold;    line-height: 20px;
}
h4{
    color: #374246;    font-family: Arial,Helvetica,sans-serif;    font-size: 15px;    font-weight: bold;  line-height: 19px;
}
h5{
    color: #374246;    font-family: Arial,Helvetica,sans-serif;    font-size: 14px;    font-weight: bold;  line-height: 18px;
}
h6{
    color: #374246;    font-family: Arial,Helvetica,sans-serif;    font-size: 12px;    font-weight: bold;
}
img{vertical-align:top; max-width: 100%; border: 0;}
table, tr, td {max-width:100% !important;}
/********************* Category Desc Section Styles ************/
#seccat{
    clear: both;height: auto;margin: 0 3%;overflow: hidden;padding-top: 15px;
}
#seccat h1{
    border-bottom: 1px solid;  font-size: 22px;  font-weight: bold;  line-height: 26px;  margin: 0;   padding-bottom: 4px;  float:left;  height: auto;
}

#seccat div#social
{
    float:right;
    margin-bottom: 10px;
}

#seccat div#social span
{
    float: left;
    margin-right: 11px;
    margin-top: 7px;
}

#seccat div#social ul
{
    float:left;
    margin: 0;
    padding: 0;
}

#seccat div#social ul li
 {
     float:left;
     list-style:none;
     margin: 0 2px;
 }
#seccat div#social ul li a
{
    text-indent: -999999px; color: #fff; font-size: 8px; float:left; width:27px; margin-right:0px; height:29px;
}

#seccat div.desc
{
    clear: both;
    float: left;
    display: block;
    line-height: 17px;
    margin: 15px 0 20px;
}
.google{  background: url(../images/icons_small.png) 0px -238px no-repeat; }
.twitter{ background: url(../images/icons_small.png) 0px -270px no-repeat; }
.linkedin{ background: url(../images/icons_small.png) no-repeat 0px -305px; }
.facebook{ background: url(../images/icons_small.png) no-repeat 0px -339px; }
.mail{ background: url(../images/icons_small.png) no-repeat 0px -372px; }
.iqs{ background: url(../images/newsroom-main.png) -5px -4px no-repeat;/*background: url(../images/icons_small.png) 0px -406px no-repeat;*/  }
.print{ background: url(../images/icons_small.png) no-repeat 0px -440px; }

/**************** End of Category Desc Section  ***************/
/********************* RElated Category Section Styles ************/
#secrelcat, #secgoto
{
    background-color: #2A434A;
    clear: both;
    display: block;
    height: auto;
    overflow: hidden;
    padding:0 3%;

}

#secrelcat h2
{
    float: left;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
    border-left: 2px groove #0C1011;
    border-right: 2px groove #0C1011;
    line-height: 20px;
    max-width: 300px;
    min-width: 130px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 21%;
    height: auto;
    padding: 24px 0;
    margin: 0;
}

#secrelcat ul
{
    list-style: none outside none;
    padding: 0;
    float: left;
    margin: 0 0 0 2%;
    position: relative;
    width: 76%;
}

#secrelcat ul li
{
    float: left;
    width:auto;
    padding:7px 50px 7px 0;
    text-align: left;
}

#secrelcat ul li a
{
    color:#AEDCE9;
    font-size: 16px;
    text-decoration:none;
    line-height: 20px;
}
#secrelcat ul li a:hover
{
    color:#fb9622;
}

/***************** End of RElated Category Section **************/

/*Page 1*/
.adlist_section
{
    background-color: #F0F0F0;
    clear: both;
    float: left;
    height: auto;
    overflow: hidden;
    padding:35px 3% 25px;
    -moz-box-shadow: 0 6px 7px -2px #717171;
    -webkit-box-shadow: 0 6px 7px -2px #717171;
    box-shadow: 0 6px 7px -2px #717171;
    margin-bottom: 10px;
}
.adlist_section aside
{
    float: left;
    width:42%;
    height:auto;
    overflow:hidden;
    margin-left: 4%;

}
.adlist_section aside img
{
    width:100%;

}
.adlist_section ul
{
    float: left;
    margin: 0 0;
    /*width: 80%;*/
    width:54%;
    list-style: none outside none;
    padding: 0;
    height:auto;
    overflow:hidden;
}
.adlist_section ul li{
    list-style: none;
    margin: 0; padding: 0;
}
.adlist_section .cdesc
{
    float: left;
    height: auto;
    line-height: 17px;
    margin: 7px 0 0;
    overflow: hidden;
    width: 99%;
}


.adlist_section header
{
    background-color: #C8c8c8;
    border: 1px outset #c8c8c8;
    height:auto;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

.adlist_section h3
{
    float: left;
    margin:0 1% 0 0;
    color: #2F2F2F;
    font-weight: bold;
    min-height: 30px;
    width: 55%;
    padding: 0;
    font-size: 13px;
    line-height: normal;
}
.adlist_section h3 a
{
    color: #0791e0;
    display: block;
    float: left;
    font-size: 13px;
    margin: 8px 0 0 17px;
}

.adlist_section h3 a span {
    display: block;
    float: none !important;
    font-weight: bold;
    margin: 0 !important;
    font-size: 13px;
}
.adlist_section h3 span.addr {
    display: block;
    float: left;
    font-weight: bold;
    margin: 0 !important;
    font-size: 12px;
}
.adlist_section h3 span
{
    display: block;
    float: left;
    font-weight: bold;
    margin: 9px 16px 5px;
    font-size: 12px;
}
.adlist_section .buttons {
    width: 43%;
    float: left;
    height: auto;
    overflow: hidden;
}

.adlist_section .buttons a {
    background-color: #474747;
    border: 1px outset #DDDDDD;
    color: #FB9622;
    display: block;
    font-weight: bold;
    height: auto;
    padding: 8px 0px;
    text-align: center;
    text-decoration: none;
    float: left;
}

.adlist_section a.btnCAD {      
    width: 98%;    
}
.adlist_section a.btnCAD2 {    
    margin-left: 1%;
    width: 48%;    
}
.adlist_section a.btncopro
{
    margin-right:0%;
    width:48%;

}
.adlist_section  a.btnrfq
{
    margin-right:1%;
    width:48%;
   
}
.foriframe {

    height: 900px;
    overflow: hidden;
    position: absolute;
    border: none;
    transform: scale(0.48, 0.48);
    transform-origin: left top 0;
    -moz-transform: scale(0.48, 0.48);
    -moz-transform-origin: left top 0;
    -webkit-transform: scale(0.48,0.48);
    -webkit-transform-origin: left top 0;
    -o-transform: scale(0.48, 0.48);
    -o-zoom: 0.48;
    -ms-transform: scale(1);
    -ms-zoom: 0.48;
    width: 1000px;
    /*width:88%;*/
}

.adlist_section .div_buttons {
    padding-bottom: 20px;
    height: 52px;
    width: 100%;
}

.adlist_section .div_buttons a
{
    background-color: #474747;
    border: 2px outset #AFAFAF;
    color: #FB9622;
    display: block;
    font-size: 21px;
    height: auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: auto;
    line-height:26px;
    float:left;
}

#secaddcomp
{
    clear: both;
    float: left;
    -moz-box-shadow: 0 -6px 5px -2px #959595;
    -webkit-box-shadow: 0 -6px 5px -2px #959595;
    width:100%;
    height: auto;
    overflow: hidden;
}

#secsepaddcomp
{
    background: url("../images/div3bg.jpg") repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    height: auto;
    margin-top: 9px;
    padding-bottom: 9px;
    width: 100%;
    min-height: 59px;
    -moz-box-shadow:-2px 7px 7px -5px #484848 inset;
    -webkit-box-shadow:-2px 7px 7px -5px #484848 inset;
    box-shadow:-2px 7px 7px -5px #484848 inset;
}
.addcomp
{

    float: left;
    /*color: #FDFDFD;font-size: 26px;margin: 26px 3% 0;*/
    color: #f6a651; font-size: 24px; font-weight: bold; margin: 19px 3% 0;
    text-decoration: none;
    text-shadow: 3px 3px 2px #333; /*#474747*/
}
.addcomp:hover
{
    color:#fb5c1e;
}


.addcomp span
{
    border-bottom: 3px solid #f6a651; background: url(main_bg.png) right bottom   no-repeat; /*#63C6BE*/
    display: block;
    float:left;
    height: 27px;
    line-height: 24px;
}

.addcomp:hover span
{
    border-bottom: 3px solid #fb5c1e;
}
.addcomp img
{
    float:left;
    margin-left: 7px;
    margin-top: 9px;
}
 #secgoto
{
    background-color: #2A434A;
    clear: both;
    display: block;
    height: auto;
    overflow: hidden;
}
#secgoto article
{
    height: auto;
    margin: 0 3%;
    overflow: hidden;
}
#secgoto article header {
    border-left: 2px groove #0C1011;
    border-right: 2px groove #0C1011;
    color: #000000;
    float: left;
    font-size: 22px;
    font-weight: bold;
    height: 100%;
    overflow: hidden;
    padding: 6px 0;
    position: relative;
    text-align: center;
    width: 21%;
}
#secgoto article header a
{
    color: #ADC2C7;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0;
    text-decoration: none;
}
.goto1
{
    color: #E6F0F1;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin: 29px 3% 0 0;
    text-decoration: none;
}

.goto1 span
{
    background: url(main_bg.png) 0px -99px no-repeat;
    display: block;
    float: left;
    height: 18px;
    margin: 0 0 0 5px;
    padding: 3px 0 0 34px;
}
#secininfo
{
    clear: both;
    float: left;
    height: auto;
    overflow: hidden;
    width: 100%;
    -moz-box-shadow: -4px 12px 7px -9px #959595 inset;
    -webkit-box-shadow: -4px 12px 7px -9px #959595 inset;
    box-shadow: -4px 12px 7px -9px #959595 inset;
}

#prodinfo {
    clear: both;
    float: left;
    height: auto;
    overflow: hidden;
    width: 100%;
    
    -moz-box-shadow: -4px 12px 7px -9px #959595 inset;
    -webkit-box-shadow: -4px 12px 7px -9px #959595 inset;
    box-shadow: -4px 12px 7px -9px #959595 inset;
    text-align:left;
}

#secininfo header
{
    font-size: 32px;
    height: 40px;
    padding-top: 24px;
    text-align: center;
    -moz-box-shadow: 0 -26px 19px 4px #E6E6E6 inset;
    -webkit-box-shadow: 0 -26px 19px 4px #E6E6E6 inset;
    box-shadow: 0 -26px 19px 4px #E6E6E6 inset;
}

#secininfo article
{
    height: auto;
    margin: 25px 6% 0;
    overflow: hidden;
}

#secininfo p
{
    text-align: justify;
}

#secininfo div
{
    clear:both;

}
#secininfo .goto1
{
    color: #517573;
    margin-bottom: 10px;
}
#secininfo ul {
margin: 0;
padding: 0;
}

#secininfo ul li {
    margin: 0;
    padding: 5px 0;
}

#secininfo ol {
    margin 0;
    padding: 0;
}

#secininfo ol li {
    margin: 0;
    padding: 5px 0;
}

#secininfo object, #secininfo embed {
    max-width: 100%;
}
#secininfo a {
    color: #30494e;
    text-decoration:underline;
}

#secininfo a:hover {
    color: #fb9622;
    text-decoration: underline;
}
#secarticle
{
    background: url("../images/div4bg.jpg") repeat scroll 0 0 transparent;
    clear: both;
    height: auto;
    overflow: hidden;
    width:88%;
    padding: 0 6% 20px;
    /*-moz-box-shadow: -4px 12px 7px -9px #959595 inset;
    -webkit-box-shadow: -4px 12px 7px -9px #959595 inset;
    box-shadow: -4px 12px 7px -9px #959595 inset;*/
}


#secarticle h2
{
    border-bottom: 1px solid #A1A1A1;
    font-size: 24px;
    font-weight: bold;
    height: auto;
    margin: 0 0 2% 0;
    overflow: hidden;
    padding: 3% 0 1%;
    text-align: center;
    width: 100%;
    line-height: 30px;
}

#secarticle ul
{
    list-style: none outside none;
    margin-bottom: auto;
    margin:0;
    padding:0;
}

#secarticle li
{
    clear:both;
}
#secarticle h3
{
    border-bottom: 1px dotted #A1A1A1;
    font-size: 15px;
    font-weight: bold;
    height: auto;
    margin: 0 0 5px 0;
    overflow: hidden;
    padding: 0 0 5px 0;
}

#secarticle h3 a, #secarticle h3 a:visited
{
    color:#454545;
}
#secarticle h3 a:hover{color: Orange;}
#secarticle aside
{
    background-color: #DDDDDD;
    border: 1px solid #DDDDDD;
    display: block;
    float: left;
    margin-bottom: 14px;
    min-width: 100px;
    padding: 17px 12px;
    position: relative;
    width: 6%;
    text-align: center;
    font-weight: bold;
}

#secarticle p
{
    font-weight:bold;
    float: right;
    margin-bottom: 14px;
    margin-left: 15px;
    margin-top: 9px;
    position: relative;
    width: 87%;
}
.boxnone { box-shadow: none !important;}
/* Industry Information - Image Section */
#industry-information.sub-images {
}

#industry-information.sub-images h3 {
    margin-bottom: 0;
}

#industry-information.sub-images p.two {
    float: left;
    width: 47%;
    text-align: center;
    margin-right: 10px;
}

#industry-information.sub-images img {
    width: 100%;
    float: none;
    margin: 0 auto;
    max-height: 390px;
}

#industry-information.sub-images p span {
    display: block;
    clear: both;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

<!-- Content Article Styles -->
.industry-information.articles {
    margin: 10px 0;
    width: 100%;
    float: left;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.industry-information.articles h3 {
    font-family: 'Fjalla One', san-serif;
    font-size: 1.5em;
    text-align: left;
    float: left;
}

.industry-information.articles:hover > h3 {
    text-decoration: underline;
    cursor: pointer;
}

.industry-information.articles .fa-sort-desc {
    float: right;
    margin-left: 10px;
}

.industry-information.articles .fa-sort-asc {
    float: right;
    margin-left: 10px;
    display: none;
}

.industry-information.articles:hover .fa-sort-desc {
    color: #6094b2;
}

.industry-information.articles:focus {
    outline: none;
}

.industry-information.articles:focus .fa-sort-desc {
    color: #6094b2;
    display: none;
}

.industry-information.articles:focus .fa-sort-asc {
    color: #6094b2;
    display: block;
}

.industry-information.articles:focus .onclick-content {
    visibility: visible;
    opacity: 1;
    position: relative;
    z-index: 1;
}

.industry-information.articles .onclick-content ul {
    margin: 0 0 20px 20px;
}

.industry-information.articles .onclick-content ul li {
    width: 100%;
    height: auto;
    text-align: left;
    list-style-type: disc;
    font-family: 'Open Sans', sans-serif;
}

.industry-information.articles .onclick-content ol {
    margin: 0 0 20px 20px;
}

.industry-information.articles .onclick-content ol li {
    width: 100%;
    height: auto;
    text-align: left;
    list-style-type: decimal;
    font-family: 'Open Sans', sans-serif;
}

.onclick-content {
    margin: 0 0 0 20px;
    clear: left;
    position: absolute;
    bottom: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
#secad_canada
{
    color:#000; background-color:#ed6815; padding: 20px 20px; font-size:13px; line-height:21px; text-align: center; margin: 0; clear: both; height: auto; overflow: hidden;
}
#secad_canada h3
{
    color:#fff; font-size: 17px; text-transform: uppercase; line-height: 45px; margin: 20px; padding: 0;
}
#secad_canada h2
 {
     color:#000; margin: 20px; padding: 0; font-size: 19px; text-transform: uppercase; font-weight: bold; line-height: 30px;
 }
#secad_canada ul
{
    margin:10px auto; width: 50%; text-align: left; color: #ccc; font-size: 14px; font-weight: 600; line-height: 23px; list-style: none; height: auto; display: block; overflow: hidden;
}
#secad_canada ul li
  {
      color: #303030; font-size: 14px; font-weight: 600; line-height: 23px; list-style: none; margin: 10px 40px; padding: 0; float: left; width: auto;
  }
#secad_canada ul li a
{
    color: #303030; font-size: 14px; font-weight: 600; margin: 10px; padding: 0; text-decoration: none;
}
#secad_canada ul li a:hover
{
    color: #000;  text-decoration: underline;
}
.forpreview{min-height:400px; height:auto; overflow:hidden; margin-bottom:20px;}
/*******************************************/
/*jQuery.Rating Plugin*/
.divRate {
    clear: both;
    height: 24px;
    margin: 3px 0;
    overflow: hidden;
}
.divratingclientmain{clear: both;display:none;cursor:default;height: auto;overflow: hidden;padding: 5px 0 0;}
.divratingclient{height:auto;overflow:hidden;float:left;margin-top:-4px}
.spanreadreviews{padding-right:7px;color:#30494e;font-weight:bold;float:left;font-size:11px}
.spanreadreviews a{color: #30494E;font-size: 11px;font-weight: bold;text-decoration: none;}
.spanviewcompanyprofile{float:left;display:block;padding-right:15px}
div.rating-cancel,div.star-rating{float:left;min-width:22px;height:22px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden;width: auto !important;}
div.rating-cancel,div.rating-cancel a{background:url(../images/delete.gif) no-repeat 0 -22px}
div.star-rating,div.star-rating a{background:url(../images/star.png) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:22px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -44px!important}
div.star-rating-hover a{background-position:0 -44px}
div.star-rating-readonly a{cursor:default !important;}
div.star-rating{background:transparent!important;overflow:hidden!important; cursor:default !important;}
/************* End of jQuery.Rating Plugin***************/











/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width:320px)
{
    .adlist_section ul
    {
        width: 100%;
    }

    .adlist_section aside
    {
        margin-top:0 !important; display:none;
    }
    #secgoto article nav div
    {
        margin-right:0;
    }

    #secgoto article nav div
    {
        background: url("../images/barrow1.png") no-repeat scroll 143px 0 transparent;
        margin-right: 8px;
        padding-right: 14px;
    }

    .addcomp
    {
        margin-right: 0;
        margin-top:9px;
    }
    .addcomp span
    {
        height: auto;
        padding-bottom: 2px;
        line-height: 22px;
        width: 136px;
    }
    .addcomp img
    {
        margin-top: 15px;
    }
    .adlist_section h3, .adlist_section .buttons, .adlist_section a.btnCAD, .adlist_section a.btnCAD2, .adlist_section a.btncopro, .adlist_section a.btnrfq {
        width: 100% !important;
        margin: 0;
    }


    .adlist_section a.btncopro, .adlist_section .buttons,.adlist_section a.btnrfq, .adlist_section a.btnCAD, .adlist_section a.btnCAD2, #secadpage .lirfq a, #secadpage .licopro a {
        padding: 8px 0 !important;
        text-align: center;
        margin: 0;
    }
}
@media only screen and (min-width: 321px) and (max-width:480px)
{

    .adlist_section ul
    {
        width: 100%;
    }

    .adlist_section aside
    {
        margin-top:0 !important; display:none;
    }


    #secgoto article nav div
    {
        margin-right:0;
    }

    #secgoto article nav div
    {
        background: url("../images/barrow1.png") no-repeat scroll 143px 0 transparent;
        margin-right: 8px;
        padding-right: 14px;
    }


    .addcomp
    {
        margin-right: 0;
        margin-top:9px;
    }
    .addcomp span
    {
        height: auto;
        overflow: hidden;
        padding-bottom:2px ;
        line-height: 24px;
        width: 136px;
    }
    .addcomp img
    {
        margin-top: 15px;
    }
    #head img {max-width:100%; }

}
@media only screen and (max-width: 769px)
{
    #divRegForm, #divRegForm div{max-width: 90%;}
    .adlist_section ul, #secadpage section
    {
        width: 100%;
    }

    .adlist_section aside, #secadpage #secadpageart aside
    {
        margin-top:0 !important; display:none;
    }
    #secrelcat h2
    {

        border:none;
        color: #fff;
        float: left;
        font-weight: bold;
        height: auto;
        line-height: 20px;
        overflow: hidden;
        position: relative;
        text-align: left;
        width: 100%;
    }
    .adlist_section a.btncopro, .adlist_section a.btnrfq, .adlist_section a.btnCAD2 {
        width: 49.5%;
        margin-right: 0; margin-left:0;
    }
    .adlist_section a.btnCAD {
        width: 100%;
        margin-right: 0;
    }
    .adlist_section h3, .adlist_section .buttons {
        width: 100%;
    }

    #secadpage .licopro a{
        padding: 8px 8px 0 8px;
    }
    .addcomp span
    {
        height: auto;
        overflow: hidden;
        padding-bottom: 2px;
        line-height: 24px;
        width: 136px;
    }
    #secarticle section { width: 100%;}
    #secininfo article img{max-width: 100%;}


    #divSocial{padding-bottom: 10px;}
    .highslide-container table{max-width: 95%;}
    .highslide-container div{max-width: 99%;}
    .addcomp
    {
        margin-right: 0;
        margin-top:9px;
        font-size: 23px;
    }
    .addcomp span
    {
        height: auto;
        overflow: hidden;
        padding-bottom: 2px;
        line-height: 24px;
        width: 70%;
    }
    .addcomp img
    {
        margin-top: 15px;
    }
    #secrelcat ul{width: 98%;}
    #secrelcat ul li{width: 100%; border-bottom: 2px groove #0C1011; padding:7px 0; }



}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 768px)
{
    .adlist_section ul, #secadpage section
    {
        width: 100%;
    }

    .adlist_section aside, #secadpage #secadpageart aside
    {
        margin-top:0 !important; display:none;
    }


    #secgoto article nav div
    {
        margin-right:0;
    }

    #secgoto article nav div
    {
        background: url("../images/barrow1.png") no-repeat scroll 143px 0 transparent;
        margin-right: 8px;
        padding-right: 14px;
    }



}
@media only screen and (min-width: 500px) and (max-width: 799px) {
    #secrelcat ul li{width: 50% !important; padding-right:0;}
}
@media only screen and (min-width: 800px) and (max-width: 1279px) {
    #secrelcat ul li{width: auto !important; padding-right:30px;}
    .adlist_section a.btncopro, .adlist_section a.btnrfq, .adlist_section a.btnCAD2 {
        width: 49.5%; 
    }
    .adlist_section a.btnCAD {
        width: 100%;
    }

    .adlist_section h3, .adlist_section .buttons {
        width: 100%;
    }
    .adlist_section a.btncopro, .adlist_section a.btnrfq, .adlist_section a.btnCAD2, .adlist_section a.btnCAD, #secadpage .lirfq a, #secadpage .licopro a {
        padding: 8px 8px 0 8px;
    }

}

@media only screen and (min-width: 1280px)  {
    #secrelcat article nav ul li{width: auto !important; padding-right: 50px}
}
/******************** All Mobiles Both Orientations********************/
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: portrait) {
    .adlist_section ul{
        width: 100%;
    }

    .adlist_section aside, #secadpage #secadpageart aside {
        margin-top: 0 !important;
        display: none;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: landscape) {
    .adlist_section ul{
        width: 100%;
    }

    .adlist_section aside, #secadpage #secadpageart aside {
        margin-top: 0 !important;
        display: none;
    }
}
/*************************************************/
/******************** All Tablets Both Orientations********************/
@media only screen and (min-device-width: 600px) and (max-device-width: 1280px) and (orientation: portrait) {
    .adlist_section ul{
        width: 100%;
    }

    .adlist_section aside, #secadpage #secadpageart aside {
        margin-top: 0 !important;
        display: none;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1199px) and (orientation: landscape) {
    .adlist_section ul {
        width: 100%;
    }

    .adlist_section aside, #secadpage #secadpageart aside {
        margin-top: 0 !important;
        display: none;
    }
    .adlist_section a.btncopro, .adlist_section a.btnrfq, .adlist_section a.btCAD2 {
        width: 49.5% !important;
    }
   .adlist_section a.btCAD {
        width: 100% !important;
    }

    .adlist_section h3, .adlist_section .buttons {
        width: 50% !important;
    }
    .adlist_section a.btncopro, .adlist_section a.btnrfq, .adlist_section a.btnCAD, .adlist_section a.btnCAD2, #secadpage .lirfq a, #secadpage .licopro a {
        padding: 8px 8px 0 8px;
    }
}


/*************************************************/
@media only screen and (min-width: 1501px) and (max-width: 2199px)
{

    .adlist_section ul {
        width: 40%;
    }

    .adlist_section aside {
        width: 48%;
        margin-left: 8%;
    }

}
@media (min-width: 2200px) and (max-width: 2499px)
{

    .adlist_section ul {
        width: 40%;
    }

    .adlist_section aside {
        width: 48%;
        margin-left: 8%;
    }

}
@media (min-width: 2500px)
{

    .adlist_section ul {
        width: 40%;
    }

    .adlist_section aside {
        width: 48%;
        margin-left: 8%;
    }
    .adlist_section .cdesc
    {
        font-size: 1.1em;
        line-height: 19px;
    }
   
}

/* P3 Page Styling */
#p3.wrapper .adlist_section ul {margin-top: 0 !important; margin-bottom: 10px; padding-top: 0 !important;}
#p3.wrapper .adlist_ul {clear:left;}
#p3.wrapper .adlist_section {min-height:600px; box-shadow:none; position:relative;}
#p3.wrapper .adlist_section aside {position: absolute; top: 35px; right: 0;}
#p3.wrapper .adlist_section a.btncopro {width:40%;}

#p3.single.wrapper .adlist_section ul {width: 100%; margin-top: 0 !important; margin-bottom: 10px; padding-top: 0 !important;}
#p3.single.wrapper .adlist_section aside {position: relative; top: 0px; right: inherit; margin: 0 auto; float: none; width: 75%;}

#p3.wrapper.new .adlist_section header {background: none; border: none;}
#p3.wrapper.new .adlist_section h3 {width: 100%;}
#p3.wrapper.new .adlist_section h3 a {color: #000000; display: block; float: left; font-size: 13px; margin: 8px 0 0 0px;}
#p3.wrapper.new .adlist_section .cdesc {margin: 7px 0;}
#p3.wrapper .company-block a, #p3.wrapper .company-block a:visited, #p3.wrapper.new .adlist_section ul a,#p3.wrapper.new .adlist_section ul a:visited {color: #000000;} 
#p3.wrapper .company-block a:hover, #p3.wrapper.new .adlist_section ul a:hover {color: #fb9622;}

#p3.single.wrapper.new .adlist_section h3,#p3.single.wrapper.new .adlist_section h3 a,#p3.single.wrapper.new .adlist_section p {float:none; text-align:center;}

#p3.wrapper {
    width: 100%;
    overflow: hidden;
    margin: 10px auto 0 auto;
    position: relative;
    height:auto;
}

    #p3.wrapper .seperator {
        width: 100%;
        clear:both;
    }

    #p3.wrapper .container {
        width: 95%;
        max-width: 1300px;
        margin: 10px auto 0 auto;
        height: auto;
        overflow: hidden;
    }


        /* Single P3 Page */
        #p3.wrapper .container .centered-block {
            width: 100%;
            float: left;
            min-height: 1000px;
            height: auto;
            overflow: hidden;
        }

            #p3.wrapper .container .centered-block .company-block {
                text-align: center;
            }

        #p3.wrapper .container .left-block {
            width: 50%;
            float: left;
        }

#p3.two.wrapper .container .left-block {
    min-height: 850px;
    height: auto;
    overflow: hidden;
}

#p3.wrapper .container .left-block h4 {
    text-align: left;
}

    #p3.wrapper .container .left-block h4 a {
        color: #444;
    }

        #p3.wrapper .container .left-block h4 a:hover {
            color: #000;
        }

#p3.wrapper .container .left-block p {
    margin: 5px 0px;
    font-size: 12px;
}

    #p3.wrapper .container .left-block p a {
        color: #444;
    }

    #p3.wrapper .container .left-block p img {
        max-width: 50%;
    }

#p3.wrapper .container .right-block {
    width: 45%;
    float: left;
    margin-top: 30px;
    position: relative;
    height: auto;
    overflow: hidden;
}


#p3.wrapper .container .company-block {
    margin: 0 auto;
    clear: left;
    width: 95%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

#p3.wrapper .container #last.company-block {
    border-bottom: none;
}

#p3.wrapper .container #single-display {
    display: none;
}

#p3.wrapper .container .webpreview {
    width: 1010px;
    height: 910px;
    margin: 0px 0 0 0;
    padding: 0;
    display: block;
    position: absolute;
    overflow: hidden;
    -moz-transform: scale(0.58, 0.58);
    -moz-zoom: 0.5;
    -webkit-transform: scale(0.58, 0.58);
    -webkit-zoom: 0.5;
    -o-transform: scale(0.58, 0.58);
    -o-zoom: 0.5;
    -ms-transform: scale(0.58, 0.58);
    -ms-zoom: 0.98;
    transform: scale(0.58, 0.58);
    -moz-transform-origin: center;
    -webkit-transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    left: -190px;
    top: -130px;
}
.clearfix{clear:both; height:auto;}
#p3.wrapper #stop-block.clear {
    width: 98%;
    clear: both;
    margin: 0 auto;
}

#p3-single {
    width: 85%;
    margin: 0px auto;
    height: 650px;
}

    #p3-single.mumetal #preview_iframe.foriframe {
        transform: scale(0.60,0.48);
        -webkit-transform: scale(0.60,0.48);
    }

    #p3-single .foriframe#preview_iframe {
        position: relative;
        width: 1050px;
        height: 910px;
        transform: scale(0.80,0.68);
        -webkit-transform: scale(0.80,0.68);
        -ms-zoom: 1;
    }

#p3-multiple .company-block {
    width: 43%;
    float: left;
    clear: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-right: 40px;
}

#p3-multiple #last.company-block {
    border-bottom: none;
}

#p3-multiple #preview_iframe.foriframe {
    transform: scale(0.53,0.53);
    -webkit-transform: scale(0.53,0.53);
    -ms-zoom: 1;
    width: 1050px;
    height: 910px;
}

#p3-multiple .frame-container {
    width: 53%;
    margin: 50px auto 0 0;
    overflow: visible;
    height: 550px;
}

#p3-multiple .company-block img {
    max-width: 90%;
}

#p3-multiple.threelistings .company-block p, #p3-multiple.threelistings .company-block h4 {
    margin: 3px 0;
}

#p3-multiple.threelistings .frame-container {
    width: 53%;
    margin: 50px auto 0 0;
    overflow: visible;
    height: 550px;
    position: relative;
    top: 150px;
}

#p3-multiple.threelistings .company-block img {
    max-width: 50%;
}

#p3-multiple.threelistings .company-block {
    width: 40%;
    float: left;
    clear: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-right: 40px;
    position: relative;
    z-index: 500;
}

#p3-multiple.fourlistings .company-block p, #p3-multiple.fourlistings .company-block h4 {
    margin: 3px 0;
}

#p3-multiple.fourlistings .frame-container {
    width: 53%;
    margin: 50px auto 0 0;
    overflow: visible;
    height: 550px;
    position: relative;
    top: 150px;
}

#p3-multiple.fourlistings .company-block img {
    max-width: 50%;
}

#p3-multiple.fourlistings .company-block {
    width: 40%;
    float: left;
    clear: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-right: 40px;
}
.seperator {
    background: url(../images/featuredcompanybackground.jpg) repeat-x;
    text-align: center;
    height: 20px;
    vertical-align: top;
    color: black;
    padding-bottom: 25px
}
.BlackBolder {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: black;
}
/* P3 Media Queries */
@media screen and (min-width: 1500px) and (max-width: 2499px) {
    #p3.wrapper .container .webpreview {
        -moz-transform: scale(0.80, 0.80);
        -moz-zoom: 0.5;
        -webkit-transform: scale(0.80, 0.80);
        -webkit-zoom: 0.5;
        -o-transform: scale(0.80, 0.80);
        -o-zoom: 0.5;
        -ms-transform: scale(0.80, 0.80);
        -ms-zoom: 0.98;
        transform: scale(0.80, 0.80);
        left: 0;
        top: 0;
    }

    #p3.wrapper .container .centered-block .webpreview {
        left: 500px;
        top: 200px;
    }

    #p3.wrapper .container .left-block {
        width: 40%;
        min-height: 800px;
        margin-top: 100px;
    }

    #p3.wrapper.two .container .left-block {
        margin-top: 50px;
    }

    #p3.wrapper.p3-three .container .left-block {
        width: 40%;
        min-height: 800px;
        margin-top: 200px;
    }

    body.page #paddle-wheel-page .left-block {
        margin-top: 0;
    }

    body.page #coriolis-page .left-block {
        margin-top: 70px;
    }

    body.page #orifice-plate-page .left-block {
        margin-top: 50px;
    }

    body.page #vortex-page .left-block {
        margin-top: 20px;
    }

    body.page #ultrasonic-page .left-block {
        margin-top: 50px;
    }

    body.page #massflow-page .left-block {
        margin-top: 30px;
    }

    body.page #electromagnetic-page .left-block {
        margin-top: 50px;
    }

    body.page #turbine-page .left-block {
        margin-top: 50px;
    }

    #p3.wrapper {
        width: 100%;
        max-width: inherit;
    }

        #p3.wrapper.three .company-block {
            margin: 50px auto;
        }

        #p3.wrapper.two .company-block {
            margin: 100px auto;
            line-height: 2.0em;
        }
}

@media screen and (max-width: 1750px) {
    #p3.wrapper .container .webpreview {
        left: -80px;
    }

    #p3.wrapper .container .centered-block .webpreview {
        left: 290px;
        top: 130px;
    }
}

@media screen and (max-width: 1600px) {
    #p3.wrapper .container .left-block {
        width: 36%;
    }
}

@media screen and (max-width: 1499px) {
    #p3.two.wrapper .container .left-block {
        min-height: 600px;
    }

    #p3.wrapper.wrapper.two .container .webpreview, #p3.wrapper.wrapper.three .container .webpreview {
        top: -210px;
    }

    #p3.wrapper .container .webpreview {
        width: 1010px;
        height: 910px;
        margin: 0px 0 0 0;
        padding: 0;
        display: block;
        position: absolute;
        overflow: hidden;
        -moz-transform: scale(0.58, 0.58);
        -moz-zoom: 0.5;
        -webkit-transform: scale(0.58, 0.58);
        -webkit-zoom: 0.5;
        -o-transform: scale(0.58, 0.58);
        -o-zoom: 0.5;
        -ms-transform: scale(0.58, 0.58);
        -ms-zoom: 0.98;
        transform: scale(0.58, 0.58);
        -moz-transform-origin: center;
        -webkit-transform-origin: center;
        -o-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        left: -190px;
        top: -130px;
    }

    #p3.wrapper .container .centered-block .webpreview {
        left: 220px;
        top: 50px;
    }

    #p3.wrapper .container .centered-block {
        min-height: 800px;
    }

    #p3.wrapper {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
    }

        #p3.wrapper .container .left-block {
            width: 50%;
            float: left;
            min-height: inherit;
            margin-top: 0;
        }

        #p3.wrapper.wrapper.three .container .left-block {
            width: 50%;
            float: left;
            min-height: 600px;
            margin-top: 0px;
        }
}

@media screen and (max-width: 1350px) {
    #p3.wrapper .container .webpreview {
        -moz-transform: scale(0.55, 0.53);
        -moz-zoom: 0.5;
        -webkit-transform: scale(0.55, 0.53);
        -webkit-zoom: 0.5;
        -o-transform: scale(0.55, 0.53);
        -o-zoom: 0.5;
        -ms-transform: scale(0.55, 0.53);
        -ms-zoom: 0.98;
        transform: scale(0.55, 0.53);
    }

    #p3.wrapper .container .centered-block .webpreview {
        left: 130px;
    }
}

@media screen and (max-width: 1245px) {

    #p3.wrapper .container .webpreview {
        -moz-transform: scale(0.50, 0.50);
        -moz-zoom: 0.5;
        -webkit-transform: scale(0.50, 0.50);
        -webkit-zoom: 0.5;
        -o-transform: scale(0.50, 0.50);
        -o-zoom: 0.5;
        -ms-transform: scale(0.50, 0.50);
        -ms-zoom: 0.98;
        transform: scale(0.50, 0.50);
        left: -200px;
        top: -150px;
    }

    #p3.wrapper .container .centered-block .webpreview {
        left: 80px;
    }
}

@media screen and (max-width: 1170px) {
    #p3.wrapper .container {
        max-width: 95%;
    }

        #p3.wrapper .container .left-block {
            width: 100%;
            float: left;
        }

        #p3.wrapper .container .right-block {
            width: 100%;
            float: left;
            display: none;
        }

        #p3.wrapper .container .company-block {
            height: 800px;
        }

    #p3.wrapper.wrapper.two .container .company-block, #p3.wrapper.wrapper.three .container .company-block {
        height: auto;
    }

    #p3.two.wrapper .container .left-block {
        min-height: inherit;
    }

    #p3.wrapper .container #single-display {
        display: block;
        position: absolute;
        top: 150px;
        left: 0px;
    }

    #p3.two.wrapper .container #single-display {
        display: block;
        position: absolute;
        top: 250px;
        left: 0px;
    }

    #p3.wrapper .container .foriframe {
        width: 1100px;
        height: 900px;
        transform: scale(.8,.7);
        -moz-transform: scale(0.8, 0.7);
        -moz-zoom: 0.5;
        -webkit-transform: scale(0.8, 0.7);
        -webkit-zoom: 0.5;
        -o-transform: scale(0.8, 0.7);
        -o-zoom: 0.5;
        -ms-transform: scale(0.8, 0.7);
        -ms-zoom: 0.98;
    }

    #p3.wrapper.wrapper.three .container .left-block {
        width: 100%;
        min-height: inherit;
        margin-top: 0px;
    }
}

@media screen and (max-width: 950px) {
    #p3.wrapper .container .foriframe {
        width: 1100px;
        height: 900px;
        transform: scale(.6,.6);
        -moz-transform: scale(0.6, 0.6);
        -moz-zoom: 0.5;
        -webkit-transform: scale(0.6, 0.6);
        -webkit-zoom: 0.5;
        -o-transform: scale(0.6, 0.6);
        -o-zoom: 0.5;
        -ms-transform: scale(0.6, 0.6);
        -ms-zoom: 0.98;
    }

    #p3.wrapper .container #single-display {
        display: block;
        position: absolute;
        top: 150px;
    }

    #p3.wrapper .container .centered-block .webpreview {
        left: -50px;
    }
}

@media screen and (max-width: 805px) {
    #p3.wrapper .container .company-block {
        height: 800px;
    }

    #p3.two.wrapper .container #single-display {
        display: block;
        position: absolute;
        top: 300px;
        left: 0px;
    }
}


@media screen and (max-width: 740px) {
    #p3.wrapper .container .foriframe {
        width: 1100px;
        height: 900px;
        transform: scale(.53,.6);
        -moz-transform: scale(0.53, 0.6);
        -moz-zoom: 0.5;
        -webkit-transform: scale(0.53, 0.6);
        -webkit-zoom: 0.5;
        -o-transform: scale(0.53, 0.6);
        -o-zoom: 0.5;
        -ms-transform: scale(0.53, 0.6);
        -ms-zoom: 0.98;
    }

    #p3.wrapper .container #single-display {
        display: block;
        position: absolute;
        top: 200px;
    }

    #p3.wrapper .container .centered-block .webpreview {
        left: -130px;
    }
}

@media screen and (max-width: 660px) {
    #p3.wrapper .container .foriframe {
        width: 1100px;
        height: 900px;
        transform: scale(.45,.5);
        -moz-transform: scale(0.45, 0.5);
        -moz-zoom: 0.5;
        -webkit-transform: scale(0.45, 0.5);
        -webkit-zoom: 0.5;
        -o-transform: scale(0.45, 0.5);
        -o-zoom: 0.5;
        -ms-transform: scale(0.45, 0.5);
        -ms-zoom: 0.98;
    }

    #p3.wrapper .container .centered-block .webpreview {
        left: -190px;
    }
}

@media screen and (max-width: 570px) {
    #p3.wrapper .container .foriframe {
        width: 1100px;
        height: 900px;
        transform: scale(.40,.45);
        -moz-transform: scale(0.40, 0.45);
        -moz-zoom: 0.5;
        -webkit-transform: scale(0.40, 0.45);
        -webkit-zoom: 0.5;
        -o-transform: scale(0.40, 0.45);
        -o-zoom: 0.5;
        -ms-transform: scale(0.40, 0.45);
        -ms-zoom: 0.98;
    }

    #p3.wrapper .container .company-block {
        height: 620px;
    }

    #p3.two.wrapper .container .company-block {
        height: 700px;
    }

    #p3.wrapper .container .centered-block .webpreview {
        left: -230px;
        top: 0;
    }

    #p3.wrapper .container .centered-block .webpreview {
        transform: scale(.40,.40);
        -moz-transform: scale(.40,.40);
        -moz-zoom: 0.5;
        -webkit-transform: scale(.40,.40);
        -webkit-zoom: 0.5;
        -o-transform: scale(.40,.40);
        -o-zoom: 0.5;
        -ms-transform: scale(.40,.40);
        -ms-zoom: 0.98;
    }
}

@media screen and (max-width: 515px) {
    #p3.wrapper .container .centered-block .webpreview {
        left: -260px;
    }
}

@media screen and (max-width: 480px) {
    #p3.wrapper .container .centered-block .webpreview {
        left: -290px;
        transform: scale(.35,.35);
        -moz-transform: scale(.35,.35);
        -moz-zoom: 0.5;
        -webkit-transform: scale(.35,.35);
        -webkit-zoom: 0.5;
        -o-transform: scale(.35,.35);
        -o-zoom: 0.5;
        -ms-transform: scale(.35,.35);
        -ms-zoom: 0.98;
    }
}

@media screen and (max-width: 465px) {
    #p3.wrapper .container .foriframe {
        width: 1100px;
        height: 900px;
        transform: scale(.35,.4);
        -moz-transform: scale(0.35, 0.4);
        -moz-zoom: 0.5;
        -webkit-transform: scale(0.35, 0.4);
        -webkit-zoom: 0.5;
        -o-transform: scale(0.35, 0.4);
        -o-zoom: 0.5;
        -ms-transform: scale(0.35, 0.4);
        -ms-zoom: 0.98;
    }
}

@media screen and (max-width: 400px) {
    #p3.wrapper .container .foriframe {
        width: 1100px;
        height: 900px;
        transform: scale(.30,.35);
        -moz-transform: scale(0.30, 0.35);
        -moz-zoom: 0.5;
        -webkit-transform: scale(0.30, 0.35);
        -webkit-zoom: 0.5;
        -o-transform: scale(0.30, 0.35);
        -o-zoom: 0.5;
        -ms-transform: scale(0.30, 0.35);
        -ms-zoom: 0.98;
    }
}