/*** SJ added for share-page-email **/
/*Mail Send Form*/
.mailbody {
    background-color: #E3E7EA;
    overflow: hidden;    
    text-align:center;
    margin-left:auto;
}
.mailbody30 {
    background-color: #E3E7EA;
    /*overflow: hidden;*/
    width: 30%;
    text-align: center;
    margin-left: auto;
}
.divfloatright {
    float: right;
    margin-right: 7px
}
.divLeft {
    float: left
}
#divRegForm {
    height: 350px;
    margin: 0 0 4px 10px;
    overflow: visible;
    line-height: 14px;
    font-weight: 500;
    text-align: left;

}

    #divRegForm header {
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 6px 0 0;
    }

    #divRegForm h1 {
        color: #374246;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height:80px;
    }

    #divRegForm ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        #divRegForm ul li {
            color: #000000;
            font-size: 11px;
            padding-top: 2px;
        }

#divStatus {
    height: auto;
    overflow: hidden;
    padding-top: 30px;
    text-align: center;
    font-size:12px; font-weight:bold;
}


.commenttextarea {
    border: 1px solid #AAAAAA;
    margin: 0 0 3px 0;
    width: 230px;
    height:70px;
    vertical-align:top;
    text-align:left;
 
}

.tagsinput {
    margin: 0 0 10px 0;
}

.rfqtextboxC {
    border: 1px solid #AAAAAA;
    width: 100px;
    display: block;
}

.require {
    color: #FF0000;
    text-align: left;
}
.h1txt {
    margin: 4px;
    height: auto;
    overflow: hidden
}

    .h1txt h1, .h1txt h2 {
        margin-right: 3px;
        font-size: 16px;
        color: #374246;
        font-weight: bold;
        padding: 0;
        width: 100%;
        height: auto
    }

.mailsend {
    display: block;
    float: left;
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    clear: both;
}

.spanwait {
    display: none;
    font-size: 12px;
    font-weight: bold;
    margin-left: 231px;
    margin-top: 59px;
    position: absolute;
    text-align: center;
}
/*Mail Send Form*/

.error{ color:red; font-weight:bold;  display:block; }

/* copro mail send form*/
#profileForm {
    margin-right: 10px;
    border: 1px solid #30494e;
    background-color: #dcebf9; /*faf9e5*/
    padding: 5%;
    margin-bottom: 10px;
    height: auto;
    overflow: hidden;
}

    #profileForm p {
        font-weight: bold;
        margin-top: -5px
    }

#divSocial a {
    display: block;
    float: left;
    margin-right: 5px;
    width: 33px;
    height: 33px;
}

.h1txt {
    margin: 4px;
    height: auto;
    overflow: hidden
}

    .h1txt h1, .h1txt h2 {
        margin-right: 3px;
        font-size: 16px;
        color: #374246;
        font-weight: bold;
        padding: 0;
        width: 100%;
        height: auto
    }

#profileForm .divLeft {
    float: left
}

#profileForm .h1txt {
    margin-top: 4px;
    margin-left: 2px;
    height: auto;
    width: 90%;
    overflow: hidden
}

    #profileForm .h1txt span {
        float: left;
        margin-right: 2px;
        font-size: 18px;
        color: #374246;
        font-weight: bold;
        line-height: 20px
    }

    #profileForm .h1txt h1, #profileForm .h1txt h2 {
        margin-right: 2px;
        font-size: 16px;
        color: #374246;
        font-weight: bold;
        padding: 0;
        width: 100%;
        padding-bottom: 15px;
        line-height: 20px
    }

.ie .h1txt span {
    float: left;
    margin-right: 3px;
    font-size: 18px;
    color: #374246;
    font-weight: bold
}

.ie .h1txt h1 {
    margin-right: 1px;
    font-size: 18px;
    color: #374246;
    font-weight: bold;
    width: 100%;
    padding: 0;
    display: inline
}

.ie6 .h1txt h1 {
    margin-right: 1px;
    font-size: 18px;
    color: #374246;
    font-weight: bold;
    width: 100%;
    padding: 0;
    display: inline
}

.ie6 .h1img {
    margin: 0
}

.cprofile {
    padding-top: 10px
}

.ie .cprofile {
    padding-top: 0
}

.ie7 #profileForm p, .ie6 #profileForm p {
    font-weight: bold;
    margin-top: 3px
}
.ProfilewarnTextRFQ {
    display: none;
    width: 372px;
    border: 1px #f00 solid;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #fff;
    word-spacing: 1px;
    FONT-WEIGHT: bold;
    font-size: 11px;
    FONT-FAMILY: Arial,Helvetica,sans-serif
}
.textFrm1 {
    width: auto;
}
.labelFrm1 {
    width: 94%;
}
.width90 {
    width: 85% !important;
}
.buttonBg {
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-right: 3px;
    background-color: #f06000;
    border:#000 solid 1px;
    font-size:15px;
    text-transform:uppercase; color:white; margin-top:5px;
}
    .buttonBg:hover {
        font-weight: bold;
        box-shadow: 2px 2px 2px #888888;
    }
#profileForm ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:left;
}

#profileForm ul li {
        color: #000000;
        font-size: 12px;
        font-weight:bold;
        padding-top: 2px;
        text-align: left;
}
#profContInfo{display:block; padding:10px; margin:0 auto;}
#divTop { display:block; height:70px; }